extends ../base.pug

block content
  h3 #{action} Sentiment Text

  form(method="POST", enctype="multipart/form-data")
    .form-group
      label(for="input") Email Text
      textArea.form-control(rows="15", type="text", name="input", id="input", disabled=true)
        | #{sentiment.input}

    .form-group
      label(for="score") Score
      input.form-control(name="score", id="score", value=sentiment.score, readonly="readonly")
    .form-group
      label(for="score") Magnitude
      input.form-control(name="magnitude", id="magnitude", value=sentiment.magnitude, disabled=true, placeholder="Please Enter Number ranging from 0 to +Infinity")
    .form-group
      label(for="scoreType") Score
      select#propertyType.select.form-control.input-lg(name="scoreType", disabled="true")
        option(value='0', selected= sentiment.scoreType==0) Manual
        option(value='1', selected= sentiment.scoreType==1) Auto
    .btn-group
        a(href=`/sentiments/${sentiment.id}/edit`, class='btn btn-primary btn-sm')
          i.glyphicon.glyphicon-edit
          span  Edit Sentiment
        a(href=`/sentiments/${sentiment.id}/delete`, class='btn btn-danger btn-sm')
          i.glyphicon.glyphicon-trash
          span  Delete Sentiment
        a(href='/sentiments', class='btn btn-info btn-sm')
          i.glyphicon.glyphicon-equalizer
          span  Cancel
